.header {
    height: 34vw;
    margin: 30px auto;
    background: url('../../public/header-img2.jpg') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 600;
    color: crimson;
    font-size: max(4.5vw, 22px);
    font-family: "Comic Neue", cursive;
}

.header-contents p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1vw;
    color: rgb(75, 74, 74);
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw 13px);
    border-radius: 25px;
    cursor: pointer;
}

@media (max-width:1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-contents {
        max-width: 65%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw, 4vw;
    }
}